{% extends 'header_footer/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                <section id="main">
                    <div class="cart-grid row">
                        <div class="col-md-9 col-xs-12 check-info">
                            <h1 class="title-page">Shopping Cart</h1>
                            <div class="cart-container">
                                <div class="cart-overview js-cart">
                                    <ul class="cart-items">
                                        <li class="cart-item">
                                            {% for cart_item in cart_items %}
                                            <div class="product-line-grid row justify-content-between">
                                                <!--  product left content: image-->
                                                <div class="product-line-grid-left col-md-2">
                                                    <span class="product-image media-middle">
                                                        <a href="product-detail.html">
                                                            <img class="img-fluid" src="{{ cart_item.product.image1.url }}" alt="Organic Strawberry Fruits">
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="product-line-grid-body col-md-6">
                                                    <div class="product-line-info">
                                                        <a class="label" href="product-detail.html" data-id_customization="0">{{ cart_item.product.name }}</a>
                                                    </div>
                                                    <div class="product-line-info product-price">
                                                        <span class="value">£{{ cart_item.product.price }}</span>
                                                    </div>
                                                </div>
                                                <div class="product-line-grid-right text-center product-line-actions col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-5 col qty">
                                                            <div class="label">Qty:</div>
                                                            <span class="value"></span>
                                                            <div class="quantity">
                                                                <input type="text" name="qty" value="{{ cart_item.quantity }}" class="input-group form-control">

                                                                <span class="input-group-btn-vertical">
                                                                    <a href="{% url 'increase_quantity' cart_item.id %}">
                                                                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                            +
                                                                        </button>
                                                                    </a>
                                                                    <a href="{% url 'decrease_quantity' cart_item.id %}">
                                                                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                                                                            -
                                                                        </button>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="col-md-2 col text-xs-right align-self-end">
                                                            <div class="cart-line-product-actions ">
                                                                <a class="remove-from-cart" rel="nofollow" href="{% url 'remove_from_cart' cart_item.id %}" data-link-action="delete-from-cart" data-id-product="1">
                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="{% url 'product' %}" class="continue btn btn-primary pull-xs-right">
                                Continue
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>                    
{% endblock %}


