{% extends 'header_footer/base.html' %}
{% load static %}
{% block content %}
    <div class="featured-product">
        <div class="title-tab-content  text-center">
            <div class="title-product justify-content-between">
                <h2>FEATURED PRODUCTS</h2>
                <p>LOREM IPSUM DOLOR SIT AMET CONSECTETUR </p>
            </div>
        </div>

        {% for d in product %}
            <div class="tab-content">
                <div class="col-md-4 item text-center">
                    <div class="product-miniature js-product-miniature item-one first-item">
                        <div class="thumbnail-container">
                            <a href="product-detail.html">
                                <img class="img-fluid image-cover" src="{{d.image1.url}}" alt="img">
                                <img class="img-fluid image-secondary" src="{{d.image2.url}}" alt="img">
                            </a>
                            <div class="highlighted-informations">
                                <div class="variant-links">
                                    <a href="#" class="color beige" title="Beige"></a>
                                    <a href="#" class="color orange" title="Orange"></a>
                                    <a href="#" class="color green" title="Green"></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-description">
                            <div class="product-groups">
                                <div class="product-title">
                                    <a href="product-detail.html">{{d.name}}</a>
                                </div>
                                <div class="rating">
                                    <div class="star-content">
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                    </div>
                                </div>
                                <div class="product-group-price">
                                    <div class="product-price-and-shipping">
                                        <span class="price">£{{d.price}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons d-flex justify-content-center">
                                <form action="#" method="post" class="formAddToCart">
                                    <input type="hidden" name="id_product" value="1">
                                    <a class="add-to-cart" href="{% url 'add_to_cart' d.id %}" data-button-action="add-to-cart">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </form>
                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
